<article class="style">
    <h1>{{title}}</h1>
    Welcome to your Personal Library<br>
    Please enjoy your stay.<br>
    Please login or register: <br>
    <a href="/login">
        <button>Login</button></a>

    <a href="/register">
        <button>Register</button></a>
    <br>
</article>
