<article class="style">
    <div class="header">
        <h1>{{title}}</h1>
        <h3>Welcome, {{username}}</h3>
    </div>

    <div class="navigation">
        <div class="subsections">
            <a class="links" href="/">Back to main</a><br>
            <a class= "links" href="/library/logout">Logout</a>
        </div>
        <div class="subsections">
            <a id="showBook" name="showBook" class= "links" href="/library">Show current books</a> <br>
            <a id="addBook" name="addBook" class= "links">Add book</a><br>
            <a id="deleteBook" name="deleteBook" class= "links">Delete books</a>
        </div>
    </div>
    <p id="messages" class="error">{{messages}}</p>
    <div class="section" name="showBookTable" id="showBookTable">
        <table name="tableBook" id="tableBook" align="center">
            <thead>
                <tr>
                    {{#each header}}
                        <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        {{#each this}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="section" name="addBookForm" id="addBookForm" hidden>
        <form action="/library/addBook" method="POST">
           ISBN*: <input type="number" id="isbn" name="isbn" required min="1000000000000" max="9999999999999" step="1" value="1000000000000" ><br>
            Title*: <input type="text" id="title" name="title" required pattern="^[A-Z][A-Za-z ]*$"><br>
            Author*: <input type="text" id="author" name="author" required pattern="^[A-Z][A-Za-z ]*$"><br>
            Genre: <input type="text" id="genre" name="genre"><br>
            Stock*: <input type="number" id="stock" name="stock" required min="1" max="100" step="1" value="1"><br>
            <input type = "submit" value="Submit"><br>
        </form>
    </div>

    <div class="section" name="deleteBookForm" id="deleteBookForm" hidden>
        <form action="/library/deleteBook" method="POST">
            The book to be deleted: <br>
            ISBN: 
            <select name="isbnDel" id="isbnDel">
                {{#each isbn}}
                    <option value='{{this}}'>{{this}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Select"><br>
        </form>
    </div>
</article>