<article class="style">
    <h1>Login</h1>
    <form action="/login" method="POST">
        Username:<br>
        <input type="text" id="username" name="username" required><br>
        Password: <br>
        <input type="password" id="password" name="password" required autocomplete="off"><br>
        <input type = "submit" value="Login">
        <p id="messages" class="error">{{messages}}</p>
    </form>
    <a href="/register">
        <button>Register</button></a>

    <a href="/">
        <button>Back to main</button></a>
    <br>
</article>