<article class="style">
    <h1>Registration</h1>
    <form action="/register" method="POST" onsubmit="return validateFunction()" >
        Username*: <input type="text" id="username" name="username" required pattern="^[a-zA-Z0-9]+$" onblur='usernameCheck()'><br>
        First name*: <input type="text" id="firstName" name="firstName" required pattern="^[A-Z][a-z]*$"><br>
        Last name*: <input type="text" id="lastName" name="lastName" required pattern="^[A-Z][a-z]*$"><br>
        E-mail*: <input type="email" id="email" name="email" required><br>
        Password*: <input type="password" id="password" name = "password" required onblur='passwordCheck()' ><br>
        Re-Enter Password*: <input type="password" id="repassword" name = "repassword" required onblur='passwordCheckEquality()' ><br> 
        <input type = "submit" value="Submit"><br>
        <p id="messages">{{messages}}</p>
    </form>
    <a href="/">
        <button>Back to main</button></a>
    <br>
</article>