<article class="style">
    <div class="header">
        <h1>{{title}}</h1>
        <h3>Welcome, {{username}}</h3>
    </div>

    <div class="navigation">
        <div class="subsections">
            <a class="links" href="/">Back to main</a><br>
            <a class= "links" href="/library/logout">Logout</a>
        </div>
        <div class="subsections">
            <a id="showBook" name="showBook" class= "links" href="/library">Search books</a> <br>
            <a id="modifyUserData" name="modifyUserData" class= "links">Modify personal data</a><br>
            <a id="myBooks" name="myBooks" class= "links">My books</a>
        </div>
    </div>

    <p id="messages" class="error">{{messages}}</p>
    <div class="section" name="showBookTable" id="showBookTable">
        <div id="comboboxes">
            <select name='title' id='title'>
                {{#each bookData.titles}}
                    <option value='{{this}}'>{{this}}</option>
                {{/each}}
            </select>

            <select name='author' id='author'>
                {{#each bookData.authors}}
                    <option value='{{this}}'>{{this}}</option>
                {{/each}}
            </select>

            <select name='genre' id='genre'>
                {{#each bookData.genres}}
                    <option value='{{this}}'>{{this}}</option>
                {{/each}}
            </select>
        </div>

        <div name = "tableBookDiv" id="tableBookDiv">
            <button id="selectBooks" name ="selectBooks">Select</button><br/>
            <table name="tableBook" id="tableBook" align="center">
                <thead>
                    <tr>
                        {{#each header}}
                            <th>{{this}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                        <tr>
                            {{#each this}}
                                <td>{{this}}</td>
                            {{/each}}
                            <td><button class="borrow">borrow</button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div name="tableMyBookDiv" id="tableMyBookDiv" hidden>
            <button id="selectMyBooks" name ="selectMyBooks">Select</button><br/>
            <table name="tableMyBook" id="tableMyBook" align="center">
                <thead>
                    <tr>
                        {{#each header}}
                            <th>{{this}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                        <tr>
                            {{#each this}}
                                <td>{{this}}</td>
                            {{/each}}
                            <td><button class="return">return</button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>

    <div class="section" name="showUserData" id="showUserData" hidden>
        <form action="/libraryUser/editUser" method="POST" onsubmit="return validateFunction()" >
            Username: <input type="text" class="noFill" id="username" name="username" readonly autocomplete="off"><br>
            First name: <input type="text" id="firstName" name="firstName" required pattern="^[A-Z][a-z]*$" autocomplete='given-name'><br>
            Last name: <input type="text" id="lastName" name="lastName" required pattern="^[A-Z][a-z]*$" autocomplete='family-name'><br>
            E-mail: <input type="email" class="noFill"  id="email" name="email" readonly autocomplete='email'><br>
            Password: <input type="password" id="password" name = "password" required onblur='passwordCheck()' autocomplete="off"><br>
            Re-Enter Password: <input type="password" id="repassword" name = "repassword" required onblur='passwordCheckEquality()' autocomplete="off"><br> 
            <input type = "submit" value="Submit"><br>
        </form>
    </div>

</article>