body {
  background-color: rgb(196, 255, 237);
  background-image: url('../images/background1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.error{
  color: rgb(185, 3, 3);
}

article.style{
  text-align: center;
  background-color: rgba(231, 231, 231, 0.644);
  font-weight: bold;
}

a {
  color: #00B7FF;
}

div.header {
  color:rgb(44, 44, 44);
  text-align:center;
  padding:10px;
}

div.navigation {
  line-height:30px;
  background-color:#6f8388;
  height:300px;
  width:100px;
  float:left;
  padding:5px; 
}

div.section {
  float:left;
  padding:10px; 
  background-color: rgba(250, 235, 215, 0.699);
  text-align: center;
}

div.subsections {
  border: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

a.links:link{
  color: rgb(255, 255, 255);
  font-style: normal;
}
a.links:visited{
  color: rgb(224, 158, 158)(224, 158, 158);
  font-style: italic;
}
a.links:hover{
  color: rgb(146, 255, 146);
  font-style: oblique;
}
a.links:active{
  color: rgb(255, 133, 255);
  font-style: normal;
}

table td,th {
  border: 1px solid black;
  padding: 10px;
}

input.noFill{
  background-color: rgba(219, 219, 219, 0.986);
  color: rgb(138, 121, 121);
}